$fontsize01 : 7px;
$fontsize02 : 14px;
$fontsize03 : 18px;
$fontsize04 : 40px;
$fontsize05 : 30px;



$size01 : 20px;
$size02 : 10px;
$size03 : 100px;
$size05: 600px;
$size001: 100%;

$color01 : rgb(14, 14, 0);
$color02 :rgba(215, 219, 210, 0.979) ;
$color03 :rgba(58, 63, 51, 0.815) ;
$color04 :  #9f9f9f;
$color05: rgb(93, 96, 97);
$color06:#BF9B5C;
$color07:rgb(11, 7, 44);
$color08:rgba(0, 0, 0, 0.801);
