.card{
    width: 100px;
    position: relative;
    -webkit-animation-name: example;
            animation-name: example;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;  
    -webkit-animation-fill-mode: forwards;  
            animation-fill-mode: forwards;
    -webkit-transition-timing-function:ease ;
         -o-transition-timing-function:ease ;
            transition-timing-function:ease ;
    -webkit-transition:width 0.5s ease 0.5s;
    -o-transition:width 0.5s ease 0.5s;
    transition:width 0.5s ease 0.5s;
}
.card :hover{
    width: 250px;
}

@-webkit-keyframes example{
    from {
        margin-left: 100%;
        width: 300%; 
      }
    
    to {
        margin-left: 0%;
        width: 100%;
    
    }
}
@keyframes example{
    from {
        margin-left: 100%;
        width: 300%; 
      }
    
    to {
        margin-left: 0%;
        width: 100%;
    
    }
}