// Medium devices (tablets, less than 992px)



@media (max-width: 991.98px) { 
    .main-title{
        top: 30px;
    }
    .picture-collect{
        width: 200px;
        padding-top: 100px;
    }
    
}





// Small devices (landscape phones, 576px and up)



@media (max-width: 576px){
    .nav-link{
        color: $color08;
    }
    .container-fluid{
        right: 0;
        left: 0;
        overflow-y: hidden;
    }
    .picture{
        height: 400px;
    }
    .room{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .fire{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .lightbox{
        padding-top: 100px;
    }
    .pic{
        display: none;
    }
    .aboutus{
        align-items: center;
        text-align: justify;
    }
    .contact-card{
        display: none;
    }
    .form{
        max-width: 100%;
    }
    .flex{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;

    }

}