// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .main-title{
        display: none;
    }
    .aboutus{
        margin-left:50px;
        text-align: justify;
    }
 }

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px){
    .nav-link{
        color: $color08;
    }
    .main-title{
       display: none;
    }
    .container-fluid{
        right: 0;
        left: 0;
        overflow-y: hidden;
    }
    .picture{
        height: 400px;
    }
    .room{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .fire{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .pic{
        display: none;
    }
    .aboutus{
        padding-right: 100px;
        margin-left:20px;
    }
    .contact-card{
        display: none;
    }
    .form{
        max-width: 100%;
    }
    .flex{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;

    }
    .contact-box-card{
        align-items: center;
    }

}