
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px){
    .nav-link{
        color: $color08;
    }
    .container-fluid{
        right: 0;
        left: 0;
        overflow-y: hidden;
    }
    .room{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .fire{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 0;
        left: 0;
        overflow-y: hidden;
    }
    .pic{
        display: none;
    }
    .aboutus{
        padding-right: 100px;
        margin-left:20px;
    }

}