.header{
    font-size: 18px;  
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    .title{
        font-size: 7px;
        color:  rgb(16, 20, 11);
    }    
    nav{
        a{
            color: rgb(13, 17, 7);
        }
    }
    
}
.carousel-inner{
    width: 600px;
    height: 600px;
}