
.tite{
    padding-top: 100px;
    padding-left: 550px;
    font-size: 40px;
    font-family: 'Archy EDT';
    color: rgba(0, 0, 0, 0.801);
}




.box{
    background-color:rgba(215, 219, 210, 0.979) ;
    .gallery{
        background-color:rgba(215, 219, 210, 0.979) ;
        margin: 20px;
        padding: 0 10px 0 10px;
    }
}
