.colect{
    background-color:$color02 ;
    .aboutus{
        border: 5px solid $color06;
        width: 900px;
        margin-top: 20px;
        margin-right: 100px;
        background-image: url(../img/lan.jpg);
        margin-bottom: 20px;
        h4{
            font-size: $fontsize03;
            font-weight: bold;
            font-family: 'Archy EDT';
        }
        p{
            font-size: 15px;
            font-family: 'Archy EDT';
        }
    }
    .pic{
        margin: 0 0  20px 50px;
        width: 500px;
        padding-top: 100px;
    }
}