

body{
    background-color:$color04 ;
    padding: 0px;
    .container{
        width: $size001;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        justify-content: start;
        overflow-y: hidden;
        .content img{
            width: 300px;
            height: 200px;
            margin: 10px 10px 10px 30px;
            padding: 10px 0 10px 50px;
        }
        .content a:hover{
            opacity: 0.5;
        }
    }
}
.filters{
    width: $size001;
    text-align: center;
    ul{
        list-style: none;
        padding: 20px 0;
    }
    li{
        display: inline;
        padding: 10px 25px;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Archy EDT'; 
        color: rgb(17, 16, 16);
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2em;
        transition: all 1s ease;
    }
    li:hover{
        color: #000;
        background-color: #ffffff;
        transition: all 1s ease;
    }
}

li.active{
    color: #000;
    background-color: #ffffff;
}
.litghtboxOverlay{
    outline: 0;
}