
.room{
    padding: 100px 20px 0 20px;
    background-color:$color02;
    .card-d{
        background-color:$color02 ;
        img{
            height: 300px;
        }
        a{
            background-color:$color03 ;
            color: $color01;
            font-family: 'Archy EDT';
        }
        a:hover{
            background-color: $color07;
            color:$color05;
            font-family: 'Archy EDT';
        }
    }
    
}

.fire{
    padding: 200px 20px 0 20px;
    background-color:$color02 ;
    .card{
        background-color:$color02 ;
        img{
            height: 200px;
        }
        a{
            background-color:$color03 ;
            color: $color01;
            font-family: 'Archy EDT';
        }
        a:hover{
            background-color: $color07;
            color: $color05;
        }
    }
    
}