.form-box{
    background-image: url(../img/cont.svg);
    background-color:$color02 ;
    padding-top: 20px;
    .flex{
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
    }
    .contact-card{
        display: flex;
        align-items: center;
        padding-right: 10px ;
        color: $color06;
        p{
            padding: 10px 0 0 10px;
            font-size: 30px;
        }
    }
    .form{
        width: 500px;
        .form-box-title{
            display: flex;
            flex: wrap;
            flex-direction: column;
            padding: 20px 30px 30px 10px;
            border: 5px solid $color06;
            .button{
                border-radius: 20px;
                background-color: $color06;
                margin: 20px 0 30px 200px ;
            }
        }
    }
}