
.room{
    padding: 100px 20px 0 20px;
    background-color:rgba(215, 219, 210, 0.979) ;
    .card-d{
        background-color:rgba(215, 219, 210, 0.979) ;
        img{
            height: 300px;
        }
        a{
            background-color:rgba(58, 63, 51, 0.815) ;
            color: rgb(16, 17, 7);
        }
        a:hover{
            background-color: rgb(11, 7, 44);
            color: rgb(93, 96, 97);
        }
    }
    
}

.fire{
    padding: 200px 20px 0 20px;
    background-color:rgba(215, 219, 210, 0.979) ;
    .card{
        background-color:rgba(215, 219, 210, 0.979) ;
        img{
            height: 200px;
        }
        a{
            background-color:rgba(58, 63, 51, 0.815) ;
            color: rgb(13, 17, 7);
        }
        a:hover{
            background-color: rgb(11, 7, 44);
            color: rgb(93, 96, 97);
        }
    }
    
}