@font-face {
  font-family: 'Archy EDT';
  src: url("../basic/fonts.scss/ArchyEDT-Bold.eot");
  src: url("../basic/fonts.scss/ArchyEDT-Bold.eot?#iefix") format("embedded-opentype"), url("../basic/fonts.scss/ArchyEDT-Bold.woff2") format("woff2"), url("../basic/fonts.scss/ArchyEDT-Bold.woff") format("woff"), url("../basic/fonts.scss/ArchyEDT-Bold.ttf") format("truetype"), url("../basic/fonts.scss/ArchyEDT-Bold.svg#ArchyEDT-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

.header1 {
  font-size: 18px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 10; }
  .header1 .main-title {
    position: absolute;
    padding-top: 25px;
    width: 300px;
    padding-bottom: 20px;
    font-size: 15px;
    color: #0e0e00;
    font-family: 'Archy EDT'; }
  .header1 img {
    padding-right: 30px;
    z-index: 20; }
  .header1 nav {
    background-color: rgba(59, 59, 57, 0.527);
    padding-bottom: 25px;
    color: #0e0e00; }
    .header1 nav .nav {
      font-family: 'Archy EDT';
      font-size: 20px;
      color: #0e0e00; }

.header {
  font-size: 18px;
  left: 0;
  bottom: 0;
  top: 0; }
  .header .main-title {
    position: absolute;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 300px;
    padding-bottom: 20px;
    font-size: 15px;
    color: #0e0e00;
    font-family: 'Archy EDT'; }
  .header img {
    padding-right: 30px;
    margin-bottom: 15px;
    z-index: 20; }
  .header nav {
    font-family: 'Archy EDT';
    background-color: rgba(59, 59, 57, 0.527); }
    .header nav a {
      color: #0e0e00;
      font-size: 20px; }

.picture {
  width: 100%;
  height: 800px; }

section {
  background-color: rgba(215, 219, 210, 0.979); }
  section .contact-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 20px 0; }
    section .contact-map .contact-img {
      width: 200px;
      height: 100px; }
    section .contact-map h2 {
      font-size: 30px;
      color: #BF9B5C;
      font-family: 'Archy EDT'; }
    section .contact-map p {
      font-size: 14px;
      color: #9f9f9f;
      font-family: 'Archy EDT'; }
  section .map {
    padding: 0 10px 20px 10px; }

footer {
  background-color: rgba(215, 219, 210, 0.979); }
  footer .foot {
    background-color: rgba(61, 58, 58, 0.801); }
  footer .nav-item {
    font-size: 17px; }
    footer .nav-item a {
      color: #BF9B5C; }
  footer .contact-box {
    display: flex;
    align-items: center;
    padding-right: 10px;
    color: #BF9B5C; }
    footer .contact-box p {
      padding: 10px 0 0 10px;
      font-size: 17x; }

.room {
  padding: 80px 5px 0 5px;
  background-color: rgba(215, 219, 210, 0.979); }
  .room .card-d {
    background-color: rgba(215, 219, 210, 0.979);
    margin-right: 20px; }
    .room .card-d img {
      height: 300px; }
    .room .card-d a {
      background-color: rgba(58, 63, 51, 0.815);
      color: #0e0e00;
      font-family: 'Archy EDT'; }
    .room .card-d a:hover {
      background-color: #BF9B5C;
      color: #5d6061;
      font-family: 'Archy EDT'; }

.fire {
  padding: 100px 20px 0 20px;
  background-color: rgba(215, 219, 210, 0.979); }
  .fire .card {
    background-color: rgba(215, 219, 210, 0.979);
    margin-right: 25px; }
    .fire .card img {
      height: 200px; }
    .fire .card a {
      background-color: rgba(58, 63, 51, 0.815);
      color: #0e0e00;
      font-family: 'Archy EDT'; }
    .fire .card a:hover {
      background-color: #BF9B5C;
      color: #5d6061; }

.tite {
  padding-top: 20px;
  text-align-last: center;
  font-size: 30px;
  font-family: 'Archy EDT';
  color: rgba(61, 58, 58, 0.801); }

.box {
  background-color: rgba(215, 219, 210, 0.979); }
  .box .gallery {
    background-color: rgba(215, 219, 210, 0.979);
    padding: 20px 10px 30px 30px; }
    .box .gallery .title-room {
      padding-top: 20px;
      text-align-last: center;
      font-size: 40px;
      font-family: 'Archy EDT';
      color: rgba(61, 58, 58, 0.801); }
    .box .gallery .title-room1 {
      padding-top: 20px;
      text-align-last: center;
      font-size: 40px;
      font-family: 'Archy EDT';
      color: rgba(61, 58, 58, 0.801); }

.colect {
  background-color: rgba(215, 219, 210, 0.979); }
  .colect .aboutus {
    border: 5px solid #BF9B5C;
    width: 900px;
    margin-top: 20px;
    margin-right: 100px;
    background-image: url(../img/lan.jpg);
    margin-bottom: 20px; }
    .colect .aboutus h4 {
      font-size: 30px;
      font-family: 'Archy EDT'; }
    .colect .aboutus p {
      font-size: 20px;
      font-family: 'Archy EDT'; }
  .colect .pic {
    margin: 0 0  20px 50px;
    width: 500px;
    padding-top: 100px; }

.form-box {
  background-image: url(../img/cont.svg);
  background-color: rgba(215, 219, 210, 0.979);
  padding-top: 20px; }
  .form-box .flex {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px; }
  .form-box .contact-card {
    display: flex;
    align-items: center;
    padding-right: 10px;
    color: #BF9B5C; }
    .form-box .contact-card p {
      padding: 10px 0 0 10px;
      font-size: 30px; }
  .form-box .form {
    width: 500px; }
    .form-box .form .form-box-title {
      display: flex;
      flex: wrap;
      flex-direction: column;
      padding: 20px 30px 30px 10px;
      border: 5px solid #BF9B5C; }
      .form-box .form .form-box-title .button {
        border-radius: 20px;
        background-color: #BF9B5C;
        margin: 20px 0 30px 200px; }

.card {
  width: 100px;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
  transition: width 0.5s ease 0.5s; }

.card :hover {
  width: 250px; }

@keyframes example {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

@media (max-width: 576px) {
  .nav-link {
    color: rgba(61, 58, 58, 0.801); }
  .main-title {
    display: none; }
  .container-fluid {
    right: 0;
    left: 0;
    overflow-y: hidden; }
  .room {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .fire {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    left: 0;
    overflow-y: hidden; }
  .pic {
    display: none; }
  .aboutus {
    padding-right: 100px;
    margin-left: 20px; }
  .contact-card {
    display: none; }
  .form {
    max-width: 100%; } }
