@font-face {
  font-family: 'Archy EDT';
  src: url("../basic/fonts.scss/ArchyEDT-Bold.eot");
  src: url("../basic/fonts.scss/ArchyEDT-Bold.eot?#iefix") format("embedded-opentype"), url("../basic/fonts.scss/ArchyEDT-Bold.woff2") format("woff2"), url("../basic/fonts.scss/ArchyEDT-Bold.woff") format("woff"), url("../basic/fonts.scss/ArchyEDT-Bold.ttf") format("truetype"), url("../basic/fonts.scss/ArchyEDT-Bold.svg#ArchyEDT-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

.header1 {
  font-size: 18px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 10; }
  .header1 .title {
    font-size: 7px;
    color: #10140b; }
  .header1 nav a {
    color: #0d1107; }

.header {
  background-color: rgba(58, 63, 51, 0.815);
  font-size: 18px;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 0; }
  .header .title {
    font-size: 7px;
    color: #0d1107; }
  .header nav a {
    color: #0d1107; }

.carousel-inner img {
  width: 600px;
  height: 600px; }

.room {
  padding: 100px 20px 0 20px;
  background-color: rgba(215, 219, 210, 0.979); }
  .room .card-d {
    background-color: rgba(215, 219, 210, 0.979); }
    .room .card-d img {
      height: 300px; }
    .room .card-d a {
      background-color: rgba(58, 63, 51, 0.815);
      color: #101107; }
    .room .card-d a:hover {
      background-color: #0b072c;
      color: #5d6061; }

.fire {
  padding: 200px 20px 0 20px;
  background-color: rgba(215, 219, 210, 0.979); }
  .fire .card {
    background-color: rgba(215, 219, 210, 0.979); }
    .fire .card img {
      height: 200px; }
    .fire .card a {
      background-color: rgba(58, 63, 51, 0.815);
      color: #0d1107; }
    .fire .card a:hover {
      background-color: #0b072c;
      color: #5d6061; }

.tite {
  padding-top: 100px;
  padding-left: 550px;
  font-size: 40px;
  font-family: 'Archy EDT';
  color: rgba(0, 0, 0, 0.801); }

.box {
  background-color: rgba(215, 219, 210, 0.979); }
  .box .gallery {
    background-color: rgba(215, 219, 210, 0.979);
    margin: 20px;
    padding: 0 10px 0 10px; }
