@font-face {
  font-family: 'Archy EDT';
  src: url("../basic/fonts.scss/ArchyEDT-Bold.eot");
  src: url("../basic/fonts.scss/ArchyEDT-Bold.eot?#iefix") format("embedded-opentype"), url("../basic/fonts.scss/ArchyEDT-Bold.woff2") format("woff2"), url("../basic/fonts.scss/ArchyEDT-Bold.woff") format("woff"), url("../basic/fonts.scss/ArchyEDT-Bold.ttf") format("truetype"), url("../basic/fonts.scss/ArchyEDT-Bold.svg#ArchyEDT-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

.header {
  font-size: 18px;
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 10; }
  .header .title {
    font-size: 7px;
    color: #10140b; }
  .header nav a {
    color: #0d1107; }

.carousel-inner {
  width: 600px;
  height: 600px; }

.section {
  margin-top: 50px; }
  .section .img-st {
    margin: 10px;
    padding: 0 0 10px 10px; }
    .section .img-st .img-sti {
      width: 650px;
      height: 400px;
      padding-top: 50px; }

.relativi {
  position: relative;
  margin-top: 80px; }
  .relativi .title-conent {
    position: absolute;
    width: 500px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #c8a31c;
    padding: 0 100px 10px 10px;
    border: 10px solid #c8a31c;
    z-index: 2;
    margin-right: 100px; }
    .relativi .title-conent h2 {
      font-size: 30px;
      color: #c8a31c; }
  .relativi .slide {
    width: 900px;
    margin-right: 800px; }

.absolut {
  margin-left: 300px;
  padding-top: 20px;
  position: relative;
  margin-top: 100px; }
  .absolut .title-conent1 {
    position: absolute;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #c8a31c;
    padding: 0 0 10px 10px;
    border: 10px solid #c8a31c;
    z-index: 2;
    margin-left: 500px; }
    .absolut .title-conent1 h2 {
      font-size: 30px;
      color: #c8a31c; }

.container-flued {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden; }
